.document {
  font: 14px system-ui;
  background: #292929;
  color: #eee;
  padding: 24px;

  canvas {
    display: block;
    margin: 12px 0;
    max-width: 100%;
  }

  pre {
    white-space: pre-wrap;
  }
}
