.shiki {
  --shiki-foreground: #000000;
  --shiki-background: #ffffff;
  --shiki-semantic-custom-literal: #795e26;
  --shiki-semantic-new-operator: #af00db;
  --shiki-semantic-number-literal: #098658;
  --shiki-semantic-string-literal: #a31515;
  --shiki-token-comment: #008000;
  --shiki-token-character: #0000ff;
  --shiki-token-regexp-character: #811f3f;
  --shiki-token-escape: #ee0000;
  --shiki-token-constant-language: #0000ff;
  --shiki-token-number: #098658;
  --shiki-token-regexp: #811f3f;
  --shiki-token-git-sha: #098658;
  --shiki-token-emphasis: #000000;
  --shiki-token-function: #795e26;
  --shiki-token-label: #000000;
  --shiki-token-selector: #800000;
  --shiki-token-tag: #800000;
  --shiki-token-style-tag: #d7ba7d;
  --shiki-token-attribute: #e50000;
  --shiki-token-style-attribute: #800000;
  --shiki-token-header: #000080;
  --shiki-token-invalid: #cd3131;
  --shiki-token-keyword: #0000ff;
  --shiki-token-control: #0000ff;
  --shiki-token-keyword-special: #c586c0;
  --shiki-token-operator: #000000;
  --shiki-token-word-operator: #0000ff;
  --shiki-token-regexp-anchor: #ee0000;
  --shiki-token-regexp-quantifier: #000000;
  --shiki-token-unit: #098658;
  --shiki-token-markdown-bold: #000080;
  --shiki-token-markdown-changed: #0451a5;
  --shiki-token-markdown-deleted: #a31515;
  --shiki-token-markdown-heading: #800000;
  --shiki-token-markdown-raw: #800000;
  --shiki-token-markdown-inserted: #098658;
  --shiki-token-markdown-italic: #000000;
  --shiki-token-markdown-strikethrough: #000000;
  --shiki-token-markdown-underline: #000000;
  --shiki-token-diff-header: #000080;
  --shiki-token-embedded: #000000ff;
  --shiki-token-object-key: #001080;
  --shiki-token-preprocessor: #0000ff;
  --shiki-token-preprocessor-number: #098658;
  --shiki-token-preprocessor-string: #a31515;
  --shiki-token-dictionary-key: #0451a5;
  --shiki-token-template: #000000;
  --shiki-token-type-meta: #267f99;
  --shiki-token-regexp-delimiter: #d16969;
  --shiki-token-markdown-list: #6796e6;
  --shiki-token-markdown-quote: #6a9955;
  --shiki-token-markdown-block: #0451a5;
  --shiki-token-tag-delimiter: #800000;
  --shiki-token-template-delimiter: #0000ff;
  --shiki-token-php-delimiter: #800000;
  --shiki-token-storage: #0000ff;
  --shiki-token-modifier: #0000ff;
  --shiki-token-import: #000000;
  --shiki-token-storage-type: #0000ff;
  --shiki-token-string: #a31515;
  --shiki-token-string-text: #0000ff;
  --shiki-token-string-regexp: #811f3f;
  --shiki-token-string-tag: #ce9178;
  --shiki-token-string-value: #ce9178;
  --shiki-token-strong: #000000;
  --shiki-token-type: #267f99;
  --shiki-token-value: #0451a5;
  --shiki-token-rebase: #0451a5;
  --shiki-token-json-key: #0451a5;
  --shiki-token-property: #e50000;
  --shiki-token-variable: #001080;
  --shiki-token-variable-language: #0000ff;
  --shiki-token-constant-variable: #0070c1;
}

:global(.dark) .shiki {
  --shiki-foreground: #d4d4d4;
  --shiki-background: #1e1e1e;
  --shiki-semantic-custom-literal: #dcdcaa;
  --shiki-semantic-new-operator: #c586c0;
  --shiki-semantic-number-literal: #b5cea8;
  --shiki-semantic-string-literal: #ce9178;
  --shiki-token-comment: #6a9955;
  --shiki-token-character: #569cd6;
  --shiki-token-regexp-character: #d16969;
  --shiki-token-escape: #d7ba7d;
  --shiki-token-constant-language: #569cd6;
  --shiki-token-number: #b5cea8;
  --shiki-token-regexp: #646695;
  --shiki-token-git-sha: #b5cea8;
  --shiki-token-emphasis: #d4d4d4;
  --shiki-token-function: #dcdcaa;
  --shiki-token-label: #c8c8c8;
  --shiki-token-selector: #800000;
  --shiki-token-tag: #569cd6;
  --shiki-token-style-tag: #d7ba7d;
  --shiki-token-attribute: #9cdcfe;
  --shiki-token-style-attribute: #d7ba7d;
  --shiki-token-header: #000080;
  --shiki-token-invalid: #f44747;
  --shiki-token-keyword: #569cd6;
  --shiki-token-control: #569cd6;
  --shiki-token-keyword-special: #c586c0;
  --shiki-token-operator: #d4d4d4;
  --shiki-token-word-operator: #569cd6;
  --shiki-token-regexp-anchor: #dcdcaa;
  --shiki-token-regexp-quantifier: #d7ba7d;
  --shiki-token-unit: #b5cea8;
  --shiki-token-markdown-bold: #569cd6;
  --shiki-token-markdown-changed: #569cd6;
  --shiki-token-markdown-deleted: #ce9178;
  --shiki-token-markdown-heading: #569cd6;
  --shiki-token-markdown-raw: #ce9178;
  --shiki-token-markdown-inserted: #b5cea8;
  --shiki-token-markdown-italic: #d4d4d4;
  --shiki-token-markdown-strikethrough: #d4d4d4;
  --shiki-token-markdown-underline: #d4d4d4;
  --shiki-token-diff-header: #569cd6;
  --shiki-token-embedded: #d4d4d4;
  --shiki-token-object-key: #9cdcfe;
  --shiki-token-preprocessor: #569cd6;
  --shiki-token-preprocessor-number: #b5cea8;
  --shiki-token-preprocessor-string: #ce9178;
  --shiki-token-dictionary-key: #9cdcfe;
  --shiki-token-template: #d4d4d4;
  --shiki-token-type-meta: #4ec9b0;
  --shiki-token-regexp-delimiter: #ce9178;
  --shiki-token-markdown-list: #6796e6;
  --shiki-token-markdown-quote: #6a9955;
  --shiki-token-markdown-block: #0451a5;
  --shiki-token-tag-delimiter: #808080;
  --shiki-token-template-delimiter: #569cd6;
  --shiki-token-php-delimiter: #569cd6;
  --shiki-token-storage: #569cd6;
  --shiki-token-modifier: #569cd6;
  --shiki-token-import: #d4d4d4;
  --shiki-token-storage-type: #569cd6;
  --shiki-token-string: #ce9178;
  --shiki-token-string-text: #0000ff;
  --shiki-token-string-regexp: #d16969;
  --shiki-token-string-tag: #ce9178;
  --shiki-token-string-value: #ce9178;
  --shiki-token-strong: #d4d4d4;
  --shiki-token-type: #4ec9b0;
  --shiki-token-value: #ce9178;
  --shiki-token-rebase: #9cdcfe;
  --shiki-token-json-key: #0451a5;
  --shiki-token-property: #9cdcfe;
  --shiki-token-variable: #9cdcfe;
  --shiki-token-variable-language: #569cd6;
  --shiki-token-constant-variable: #4fc1ff;
}
