.specks {
  position: absolute;
  z-index: 999;
  height: 100vh;
  width: 100vw;
}

.speck {
  opacity: 0;
  height: 4px;
  width: 4px;
  background: url('http://i1272.photobucket.com/albums/y391/matthew_williams10/speck_zpsu9xym9zl.png');
  background-size: cover;
  position: absolute;
  border-radius: 10px;
  z-index: 99;
}

.img {
  position: absolute;
  height: 100000px;
  width: 100000px;
  top: -8500px;
  left: -8000px;
  animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  animation-name: float;
  animation-iteration-count: infinite;
}

.img1 {
  /* opacity: 0.25; */
  opacity: 0.15;
  background-blend-mode: multiply;
  background-repeat: repeat;
  animation-duration: 600s;
}

.img2 {
  /* opacity: 0.2; */
  opacity: 0.05;
  mix-blend-mode: lighten;
  background-repeat: repeat;
  animation-duration: 450s;
}

.img3 {
  /* opacity: 0.15; */
  opacity: 0.25;
  mix-blend-mode: lighten;
  background-repeat: repeat;
  animation-duration: 350s;
}

/*ANIMATIONS*/

@keyframes twinkle {
  0% {
    transform: translate(0px, 0px);
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translate(175px, 100px);
  }
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(3000px, -6000px);
  }
}
