.header {
  position: absolute;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  a,
  button {
    background-color: #ffffff;
    border-radius: 1000px;
    padding: 0 0.5em;
    line-height: 20px;

    color: black;
    border: unset;
    text-decoration: none;
  }
}
