.button {
  position: relative;
  border-radius: var(--normal-border-radius);
  box-sizing: content-box;
  line-height: normal;
  padding: 0 var(--normal-padding);
  cursor: pointer;
  --ripple-border-radius: var(--normal-border-radius);
}

.button.contained, button.text {
  height: calc(var(--normal-surface-height) * 0.75);
  border: unset;
}

.button.outlined, button.text {
  background-color: rgba(0, 0, 0, 0);
}
.button.outlined {
  height: calc(var(--normal-surface-height) * 0.75 - (var(--normal-border-width) * 2));
}

.button.primary.outlined, .button.primary.text {
  color: var(--primary-color);
  --ripple-color: var(--primary-color);
}
.button.primary.contained {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  --ripple-color: var(--on-primary-color);
}
.button.primary.outlined {
  border: var(--normal-border-width) solid var(--primary-color);
}

.button.secondary.outlined, .button.secondary.text {
  color: var(--secondary-color);
  --ripple-color: var(--secondary-color);
}
.button.secondary.contained {
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
  --ripple-color: var(--on-secondary-color);
}
.button.secondary.outlined {
  border: var(--normal-border-width) solid var(--secondary-color);
}